name: Tests

on: [push, workflow_dispatch]

jobs:
  fmtcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: .go-version
      - run: make fmtcheck

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: .go-version
      - run: make test

  integrationTest:
    runs-on: ubuntu-latest
    needs: [fmtcheck, test]
    strategy:
      fail-fast: false
      matrix:
        kind-k8s-version: [1.31.14, 1.32.11, 1.33.7, 1.34.3, 1.35.0]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Create K8s Kind Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          version: v0.31.0
          cluster_name: vault-plugin-auth-kubernetes
          node_image: kindest/node:v${{ matrix.kind-k8s-version }}
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: .go-version
      - run: make setup-integration-test
      - env:
          INTEGRATION_TESTS: true
        run: make integration-test
